<table> 
            <tr>  
                
                <th>Name</th>  
                <th>Registration</th>  
                <th>Operations</th>  
                 
            </tr>  
   
            <tr ng-repeat="car in CC.cars">  
                 
                <td> {{ car.carName }}</td>  
                <td> {{ car.carRegistration }}</td>    
               <td><a ng-click="editCar(car)" class="blue-button">Edit</a> | <a ng-click="deleteCar(car)" class="red-button">Delete</a></td> 
            </tr>  


   
 </table>     