<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>  
<script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src ="js/car/carController.js"></script>
  <script src = "js/car/carService.js"></script>
  <script src = "js/core/dataFactory.js"></script>
<style>
	 .blue-button{  
     background: #25A6E1;  
     filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);  
     padding:3px 5px;  
     color:#fff;  
     font-family:'Helvetica Neue',sans-serif;  
     font-size:12px;  
     border-radius:2px;  
     -moz-border-radius:2px;  
     -webkit-border-radius:4px;  
     border:1px solid #1A87B9  
           }       
</style>

<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body ng-app="app" ng-controller="dbController">
	First Name: <input type="text" ng-model="firstName"><br>
    Last Name: <input type="text" ng-model="lastName"><br>
	<button ng-click="cleanDB()" class="blue-button">cleanDB</button>
</body>
</html>